@model IEnumerable<ZeroHunger.Models.Foodtable>

@{
    ViewBag.Title = "Request";
}

<h2>Request</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Food_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food_Qty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food_Qty)
        </td>
        <td>
          
        </td>
    </tr>
}

</table>

<a href="/Foodtable/OrderCheckout" class="btn btn-danger"> Confirm </a>